---
- name: "Update APT cache"
  apt: 
    update_cache: yes

- name: "Install LAMP and some other packages"
  apt: name={{ item }} state=present
  with_items:
    - apache2
    - mysql-server
    - php
    - libapache2-mod-php
    - python-mysqldb
    - curl
    - git
    - make
    - unzip
