[Unit]
Description=MinIO
After=network-online.target

[Service]
Type=simple

User=root
Group=root

PIDFile=/var/run/minio.pid

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=minio

Environment=MINIO_ACCESS_KEY={{ MINIO_LOGIN }} MINIO_SECRET_KEY={{ MINIO_PASS}}

ExecStart=/usr/local/bin/minio server /mnt/nas

Restart=on-failure

[Install]
WantedBy=multi-user.target
